        
                <div class="col-md-12 playlist-video-container" >
                    <div class="col-md-3 video-thumbnail" >
                        <a href="/static/single.html"><img src="/static/images/t1.jpg" ></a>
                        <div class="time">
                            <p>3:04</p>
                        </div>
                        <div class="clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-9 playlist-video-info" >
                        <a href="/static/single.html" class="title title-info" ><h3><%= i %>Pellentesque vitae pulvinar tortor nullam interdum metus a imperdiet</h3></a>
                        <div class="delete-option-button" onclick="removeFromPlaylist(this)" data-videoid="5d768b1979143137e0d0471e"><span><i class="fa fa-times"></i></span></div>
                        
                        <div class="author"><a href="#">Lorem Ipsum</a></div>
                    </div>
                </div>
                