
<% list.forEach(function(item) { %>
<article class="search-result row border border-primary">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="/assets/thumbnail.png" alt="Lorem ipsum" /></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span> <%=  moment(item.uploadDate).format( 'MM-DD-YYYY') %>; </span></li>
            <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
            <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 excerpet" style="position: relative;">
        <h3><a href="/play/video/<%= item.id %>"  title=""> <%= item.title %> </a></h3>
        <p><%= item.description %></p>						
        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
        <div class="" style="position: absolute; top :0px ;right:0px">
                <div class="more">
                    <button id="more-btn" class="more-btn">
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                    </button>
                    <div class="more-menu">
                        <div class="more-menu-caret">
                            <div class="more-menu-caret-outer"></div>
                            <div class="more-menu-caret-inner"></div>
                        </div>
                        <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
                            <li class="more-menu-item" role="presentation">
                                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
                            </li>
                            <li class="more-menu-item" role="presentation">
                                <button type="button" class="more-menu-btn" role="menuitem">Copy</button>
                            </li>
                            <li class="more-menu-item" role="presentation">
                                <button type="button" class="more-menu-btn" role="menuitem">Embed</button>
                            </li>
                            <li class="more-menu-item" role="presentation">
                                <button type="button" class="more-menu-btn" role="menuitem">Block</button>
                            </li>
                            <li class="more-menu-item" role="presentation">
                                <button type="button" class="more-menu-btn" role="menuitem">Report</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-1"></div>
    <span class="clearfix borda"></span>
    <br>
    <br>
</article>	

<% }) %>
<!-- closing tag for search  -->

<script>
var el = document.querySelector('.more');
var btn = el.querySelector('.more-btn');
var menu = el.querySelector('.more-menu');
var visible = false;

function showMenu(e) {
    e.preventDefault();
    if (!visible) {
        visible = true;
        el.classList.add('show-more-menu');
        menu.setAttribute('aria-hidden', false);
        document.addEventListener('mousedown', hideMenu, false);
    }
}

function hideMenu(e) {
    if (btn.contains(e.target)) {
        return;
    }
    if (visible) {
        visible = false;
        el.classList.remove('show-more-menu');
        menu.setAttribute('aria-hidden', true);
        document.removeEventListener('mousedown', hideMenu);
    }
}

btn.addEventListener('click', showMenu, false);
</script>
