<!DOCTYPE HTML>
<html>
<head>
    <% include partials/head1.ejs %> <!-- This will include and link all the required js and css files -->
<!-- //fonts -->
</head>
  <body>

    <% include partials/navbar1.ejs %>
    <% include partials/sidebar.ejs %>
    <div class="row col-sm-9 col-sm-offset-3 col-md-offset-3 main">
        <hgroup class="mb20">
            <h1>Search Results</h1>
            <h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>								
        </hgroup>
         
        <section class="">
            <% include partials/videoPalette.ejs %>
        </section>
    </div>
    
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
  
</html>