
  
  .subscribe-container {
    /* margin: 140px auto; */
    width: 200px;
  }
  .subscribe-container body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  .subscribe-container .subscribe-container {
    margin: 140px auto;
    width: 200px;
  }
  .subscribe-container .subscribe-button {
    position: relative;
    padding: 10px 18px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background: #e80000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background, box-shadow;
    transition-duration: 0.2s;
  }
  .subscribe-container .subscribe-button:active {
    background: #de0000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14);
  }
  .subscribe-container .subscribe-button:after {
    content: attr(data-count);
    position: absolute;
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
    left: 100%;
    top: 0;
    margin-left: 10px;
    color: #777;
    background: #e1e1e1;
    border-radius: 3px;
  }
  .subscribe-container .subscribe-button:before {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 4px;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-width: 0;
    border-right-color: #e1e1e1;
  }
  .subscribe-container .subscribe-button.subbed {
    background: #777;
  }
  .subscribe-container .subscribe-button.subbed svg {
    width: 16px;
  }
  .subscribe-container .subscribe-button.subbed svg .plus__line1 {
    -webkit-transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.1666666667);
            transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.1666666667);
  }
  .subscribe-container .subscribe-button.subbed svg .plus__line2 {
    -webkit-transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
            transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
  }
  .subscribe-container .subscribe-button svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: white;
    margin-right: 10px;
    transition: width 0.25s;
  }
  .subscribe-container .subscribe-button svg .plus__line1,
  .subscribe-container .subscribe-button svg .plus__line2 {
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .subscribe-container .subscribe-button svg .plus__line1 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .subscribe-container .subscribe-button svg .plus__line2 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .subscribe-container .subscribe-button * {
    vertical-align: middle;
  }
  
  .subscribe-button {
    position: relative;
    padding: 10px 18px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background: #e80000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background, box-shadow;
    transition-duration: 0.2s;
  }
  .subscribe-button:active {
    background: #de0000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14);
  }
  .subscribe-button:after {
    content: attr(data-count);
    position: absolute;
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
    left: 100%;
    top: 0;
    margin-left: 10px;
    color: #777;
    background: #e1e1e1;
    border-radius: 3px;
  }
  .subscribe-button:before {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 4px;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-width: 0;
    border-right-color: #e1e1e1;
  }
  .subscribe-button.subbed {
    background: #777;
  }
  .subscribe-button.subbed svg {
    width: 16px;
  }
  .subscribe-button.subbed svg .plus__line1 {
    -webkit-transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.1666666667);
            transform: translate(14px, 0) rotate(45deg) translate(-5px, 0) scaleY(1.1666666667);
  }
  .subscribe-button.subbed svg .plus__line2 {
    -webkit-transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
            transform: translate(2px, 5px) rotate(45deg) scaleX(0.5) translate(0px, -5px);
  }
  .subscribe-button svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: white;
    margin-right: 10px;
    transition: width 0.25s;
  }
  .subscribe-button svg .plus__line1,
  .subscribe-button svg .plus__line2 {
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .subscribe-button svg .plus__line1 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .subscribe-button svg .plus__line2 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .subscribe-button * {
    vertical-align: middle;
  }
  